<div class="container">
  <app-book-bar></app-book-bar>
    <div class="book-card">
      @if(author) {
        <div class="header">
          <div class="author-name">
            <h1>{{author.name}}</h1>
          </div>
          <div class="buttons">
            <button class="btn btn-primary btn-sm rounded-0" type="button" (click)="showEditForm = true" title="Edit">
                <i class="fa fa-edit"></i>
              </button>
              
              <button class="btn btn-danger btn-sm rounded-0" type="button" (click)="deleteAuthor()" title="Delete">
                <i class="fa fa-trash"></i>
              </button>
          </div>
        </div>
        <div class="book-details">
          <span class="book-author">{{ author.email }}</span>
          <p>{{ author.bio }}</p>
        </div>
      }
    </div>
    @if(showEditForm){
        <div class="popup-form">
            <div class="popup-content">
                <form [formGroup]="authorForm" (ngSubmit)="updateAuthor()">
                    <div class="form-group">
                      <label for="name" class="text-light">Name:</label>
                      <input id="name" class="form-control" formControlName="name" type="text">
                      @if(authorForm.controls['name'].invalid && authorForm.controls['name'].touched) {
                        <div id="categoryHelp" class="form-text text-danger">
                          @if(authorForm.controls['name'].errors?.['required']) {
                            <small>name is required</small>
                          }
                        </div>
                      }
                    </div>
                    <div class="form-group">
                      <label for="email" class="text-light">Email:</label>
                      <input id="email" class="form-control" formControlName="email" type="email">
                      @if(authorForm.controls['email'].invalid && authorForm.controls['email'].touched) {
                        <div id="categoryHelp" class="form-text text-danger">
                          @if(authorForm.controls['email'].errors?.['required']) {
                            <small>email is required</small>
                          }
                        </div>
                      }
                    </div>
                    <div class="form-group">
                      <label for="bio" class="text-light">Bio:</label>
                      <textarea id="bio" class="form-control" formControlName="bio"></textarea>
                      @if(authorForm.controls['bio'].invalid && authorForm.controls['bio'].touched) {
                        <div id="categoryHelp" class="form-text text-danger">
                          @if(authorForm.controls['bio'].errors?.['required']) {
                            <small>bio is required</small>
                          }
                          @if(authorForm.controls['bio'].errors?.['minLength']) {
                            <small>Title must be from 3 to 30 characters</small>
                          }
                          @if(authorForm.controls['bio'].errors?.['maxLength']) {
                            <small>Title must be from 3 to 30 characters</small>
                          }
                        </div>
                      }
                    </div>
                    <button type="submit" class="btn btn-success mt-3">Edit Author</button>
                    <button type="button" class="btn btn-danger mt-3" (click)="cancelEdit()">Cancel</button>
                  </form>
                  
            </div>
          </div>
}
  </div>
<!-- //ADD NEW BOOK -->
  @if(showAddForm){
    <div class="popup-form">
        <div class="popup-content">
          <form [formGroup]="bookForm" (ngSubmit)="addBook()">
            <div class="form-group">
              <label for="title" class="text-light">Title:</label>
              <input id="title" class="form-control" formControlName="title" type="text">
              @if(bookForm.controls['title'].invalid && bookForm.controls['title'].touched) {
                <div id="categoryHelp" class="form-text text-danger">
                  @if(bookForm.controls['title'].errors?.['required']) {
                    <small>title is required</small>
                  }
                </div>
              }
            </div>
            <div class="form-group">
              <label for="image" class="text-light">Image:</label>
              <button class="container-btn-file input-container ic1 btn btn-block text-center btn-dark p-0" style="height: 46px">
                <fa-icon [icon]="fileImage" class="mx-2"></fa-icon>
                Upload Image
                <input class="file" name="text" type="file" id="image"  (change)="onImagePicked($event)"/>
              </button>
              <div *ngIf="bookForm.controls['image'].invalid && bookForm.controls['image'].touched">
                <div id="categoryHelp" class="form-text text-danger">
                  <small *ngIf="bookForm.controls['image'].errors?.['required']">Image is required</small>
                </div>
              </div>
              <div *ngIf="imageInvalid" class="custom-alert" role="alert">
                Invalid Image. Please select a valid image file.
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="text-light">Description:</label>
              <textarea id="description" class="form-control" formControlName="description"></textarea>
              @if(bookForm.controls['description'].invalid && bookForm.controls['description'].touched) {
                <div id="categoryHelp" class="form-text text-danger">
                  @if(bookForm.controls['description'].errors?.['required']) {
                    <small>description is required</small>
                  }
                  @if(bookForm.controls['description'].errors?.['minLength']) {
                    <small>Title must be from 3 to 30 characters</small>
                  }
                  @if(bookForm.controls['description'].errors?.['maxLength']) {
                    <small>Title must be from 3 to 30 characters</small>
                  }
                </div>
              }
            </div>
            <button type="submit" class="btn btn-success mt-3">Add Book</button>
            <button type="button" class="btn btn-danger mt-3" (click)="showAddForm = false">Cancel</button>
          </form>
        </div>
      </div>
}


<div class="buttons2">
        <label for="sortSelect" class="form-label text-light">Add new book</label>
    <button (click)="showAddForm = !showAddForm" id="butn" class=" btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i></button>
  </div>
  <div class="booksContainer justify-content-center mt-50 mb-50">
    <div class="row d-flex justify-content-center">
      @for (authorBook of this.booksOfAuthor; track authorBook._id) {
        <div class="custom-card"> <!-- Apply a custom class for width control -->
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <!-- Displaying book details -->
              <div class="card-img-actions text-center">
                <img 
                  [src]="authorBook.image" 
                  class="card-img img-fluid" 
                  alt="{{ authorBook.title }}"
                  style="cursor: pointer;" 
                  (click)="viewBookDetails(authorBook._id)"
                >
              </div>
              <div class="mt-auto text-center">
                <div class="mb-2">
                  <h2 class="font-weight-semibold mb-2">
                    {{ authorBook.title }}
                  </h2>
                </div>
                <button (click)="viewBookDetails(authorBook._id)" type="button" class="btn btn-warning">Show Details</button>
              </div>
            </div>
            <!-- edit book -->
            <button class="btn btn-primary btn-sm rounded-0" type="button"  (click)="onEditBookClick(authorBook._id)"  title="Edit">
              <i class="fa fa-edit"></i>
            </button>
            <!-- delete book -->
            <button class="btn btn-danger btn-sm rounded-0" type="button" (click)="deleteBook(authorBook._id)" title="Delete">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>

        @if(showEditBookForm){
          <div class="popup-form">
              <div class="popup-content">
                <form [formGroup]="bookForm" (ngSubmit)="updateBook(authorBook._id)">
                  <div class="form-group">
                    <label for="title" class="text-light">Title:</label>
                    <input id="title" class="form-control" formControlName="title" type="text">
                    @if(bookForm.controls['title'].invalid && bookForm.controls['title'].touched) {
                      <div id="categoryHelp" class="form-text text-danger">
                        @if(bookForm.controls['title'].errors?.['required']) {
                          <small>title is required</small>
                        }
                      </div>
                    }
                  </div>
                  <!-- <div class="form-group">
                    <label for="image" class="text-light">Image:</label>
                    <button class="container-btn-file input-container ic1 btn btn-block text-center btn-dark p-0" style="height: 46px">
                      <fa-icon [icon]="fileImage" class="mx-2"></fa-icon>
                      Upload Image
                      <input class="file" name="text" type="file" id="image"  />
                    </button>
                    <div *ngIf="bookForm.controls['image'].invalid && bookForm.controls['image'].touched">
                      <div id="categoryHelp" class="form-text text-danger">
                        <small *ngIf="bookForm.controls['image'].errors?.['required']">Image is required</small>
                      </div>
                    </div>
                    <div *ngIf="imageInvalid" class="custom-alert" role="alert">
                      Invalid Image. Please select a valid image file.
                    </div>
                  </div> -->
                  
                  <div class="form-group">
                    <label for="description" class="text-light">Description:</label>
                    <textarea id="description" class="form-control" formControlName="description"></textarea>
                    @if(bookForm.controls['description'].invalid && bookForm.controls['description'].touched) {
                      <div id="categoryHelp" class="form-text text-danger">
                        @if(bookForm.controls['description'].errors?.['required']) {
                          <small>description is required</small>
                        }
                        @if(bookForm.controls['description'].errors?.['minLength']) {
                          <small>description must be from 3 to 30 characters</small>
                        }
                        @if(bookForm.controls['description'].errors?.['maxLength']) {
                          <small>description must be from 3 to 30 characters</small>
                        }
                      </div>
                    }
                  </div>
                  <button type="submit" class="btn btn-success mt-3">Edit Book</button>
                  <button type="button" class="btn btn-danger mt-3" (click)="cancelEdit()">Cancel</button>
                </form>
              </div>
            </div>
      }
      
      }
    </div>
  </div>
  

  