<div class="container  justify-content-center mt-50 mb-50">
    <div class="containerAdd">
        <label for="sortSelect" class="form-label text-light">Add new author</label>
    <button (click)="showAddForm = !showAddForm" id="butn" class=" btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i></button>
    </div>

    @if(showAddForm){
        <div class="popup-form">
            <div class="popup-content">
              <form [formGroup]="authorForm" (ngSubmit)="addAuthor()">
                <div class="form-group">
                  <label for="name" class="text-light">Name:</label>
                  <input id="name" class="form-control" formControlName="name" type="text">
                  @if(authorForm.controls['name'].invalid && authorForm.controls['name'].touched) {
                    <div id="categoryHelp" class="form-text text-danger">
                      @if(authorForm.controls['name'].errors?.['required']) {
                        <small>name is required</small>
                      }
                    </div>
                  }
                </div>
                <div class="form-group">
                  <label for="email" class="text-light">Email:</label>
                  <input id="email" class="form-control" formControlName="email" type="email">
                  @if(authorForm.controls['email'].invalid && authorForm.controls['email'].touched) {
                    <div id="categoryHelp" class="form-text text-danger">
                      @if(authorForm.controls['email'].errors?.['required']) {
                        <small>email is required</small>
                      }
                    </div>
                  }
                </div>
                <div class="form-group">
                  <label for="bio" class="text-light">Bio:</label>
                  <textarea id="bio" class="form-control" formControlName="bio"></textarea>
                  @if(authorForm.controls['bio'].invalid && authorForm.controls['bio'].touched) {
                    <div id="categoryHelp" class="form-text text-danger">
                      @if(authorForm.controls['bio'].errors?.['required']) {
                        <small>bio is required</small>
                      }
                      @if(authorForm.controls['bio'].errors?.['minLength']) {
                        <small>Title must be from 3 to 30 characters</small>
                      }
                      @if(authorForm.controls['bio'].errors?.['maxLength']) {
                        <small>Title must be from 3 to 30 characters</small>
                      }
                    </div>
                  }
                </div>
                <button type="submit" class="btn btn-success mt-3">Add Author</button>
                <button type="button" class="btn btn-danger mt-3" (click)="showAddForm = false">Cancel</button>
              </form>
            </div>
          </div>
}



    <div class="row">
        @for (author of this.authors;track author._id){
        <div class="col-md-4 mt-2">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                  <div class="mt-auto text-center">
                    <div class="mb-2">
                      <h2 class="font-weight-semibold mb-2">
                        {{ author.name }}
                      </h2>
                      <h6 class="font-weight-semibold mb-2">
                        {{ author.bio }}
                      </h6>
                    </div>
                    <button (click)="viewAuthorDetails(author._id)" type="button" class="btn btn-warning">Show Details</button>
                  </div>
                </div>
              </div>
            </div>
        }
    </div>
</div> 
<div class="containerP text-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="i + 1 === currentPage">
        <a class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>