<div class="container-fluid p-0">
    <app-book-bar></app-book-bar>
    <div class="row no-gutters">
        <div class="col-12 position-relative">
            <img src="https://png.pngtree.com/background/20230516/original/pngtree-an-old-room-full-of-books-picture-image_2599259.jpg"
                 alt="Landing Image" class="img-fluid w-100 bg-blur" style="height:100vh; object-fit: cover;">

            <div class="position-absolute top-50 start-50 translate-middle text-center text-light">
                <h2 class="mb-3 text-outline">Welcome To</h2>
                <h1 class="display-3 font-weight-bold mb-4 text-outline">The Book Cove</h1>
                <p class="font-weight-bold mb-4 text-outline"> your cozy haven for discovering a curated selection of literature. Immerse yourself in a unique book-buying experience designed for passionate readers.</p>
                <button class="btn btn-warning btn-sm" (click)="scrollToBooks()">Show Books</button>
                <button class="btn btn-warning btn-sm" [routerLink]="['/authors']">Show Authors</button>

            </div>
        </div>
    </div>
    <app-books id="books"></app-books>
</div>

           <!-- <img src="https://img.freepik.com/premium-photo/books-library_926199-2670856.jpg?w=826" -->
