    /* .bg-blur {
        filter: blur(2px); 
    } */
    .text-outline {
        text-shadow: 
            -1px -1px 0 #533f00,  
             1px -1px 0 #533f00,
            -1px  1px 0 #533f00,
             1px  1px 0 #533f00;
    }
h2{
    font-size: 40px;

}
h1{
    font-size: 80px;
    font-weight:bolder;
}
.btn{
    margin-right: 20px;
}